{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>ANALYZE</title>
    <style>
                body{
            font-family:helvetica;
        }
        h1
        {
            text-align:center;
            font-size:35px;
            margin-top:60px;
            color:#BEF781;
        }
        h1 p
        {
            text-align:center;
            margin:0px;
            font-size:18px;
            text-decoration:underline;
            color:white;
        }
        </style>
    </head>
    <body>
        <div>
            <div>
                <form enctype="multipart/form-data" method="post" action=".">
                    {% csrf_token %}
                    <h1 >CSV DATA FORM </h1>
                    <label for="csv_file">Select a file:</label>
                    <input type="file" id="csv_file" name="csv_file"><br><br>
                    
                    <label for="table_title">Enter Table Name:</label>
                    <input type="text" id="table_title" name="table_title"><br><br>

                    <label for="table_schema_user_defined">Enter Schema Name:</label>
                    <input type="text" id="table_schema_user_defined" name="table_schema_user_defined">
                    <br>
                    <br>
                    
                    <label for="contain_header">Contains Header?</label>
                    <select name="contain_header" id="contain_header" class="form-select">
                        <option></option>
                        <option>Yes</option>
                        <option>No</option>
                    </select>
                    <br>
                    <br>

                    <button type="submit">Create Tables</button>
                </form>
            </div>
        </div>
    </body>
    </html>
  